.card-admin2{
  max-width: 360px;
  height: max-content;
  background-color: #0000004a;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 50px;
}

.card-admin2 > div{
  margin: 0 auto;
  position: relative;
  top: -40px;
  text-align: center;
}

.card-admin2 > div > h2{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
}

.card-admin2 > .con-list{
  max-width: 301px;
  height: max-content;
  margin-top: 20px;
}

.card-admin2 > .con-list > h3{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
  text-align: start;
  margin-bottom: 6px;
}

.card-listRiwayat,
.card-listJadwal,
.card-listVerif{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  max-width: 301px;
  height: 60px;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 10px;
  transition: .3s;
  cursor: pointer;
}

.card-listRiwayat:hover,
.card-listJadwal:hover,
.card-listVerif:hover{
  transition: .3s;
  transform: scale(1.02);
  box-shadow: -1px 1px 4px #727272;
}

.card-listRiwayat > div,
.card-listJadwal > div,
.card-listVerif > div{
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
}

.card-listRiwayat > div > p,
.card-listJadwal > div > p,
.card-listVerif > div > p{
  display: block;
  width: 40px;
  height: 40px;
  background-color: #eaeaea;
  color: #7E7E7E;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding: 7px 0;
  border-radius: 50%;
}

.card-listRiwayat > div > div,
.card-listJadwal > div > div,
.card-listVerif > div > div{
  display: flex;
  flex-direction: column;
  max-width: 200px;
  gap: 3px;
  align-items: flex-start;
}

.card-listRiwayat > div > div > h4,
.card-listJadwal > div > div > h4,
.card-listVerif > div > div > h4{
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
}

.card-listRiwayat > div > div > p ,
.card-listJadwal > div > div > p ,
.card-listVerif > div > div > p {
  color: #089A7C;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.card-listRiwayat > p,
.card-listJadwal > p,
.card-listVerif > p{
  font-size: 10px;
  font-weight: 500;
  color: #7E7E7E;
  position: relative;
  bottom: -28px;
}

#buat-tagihan{
  display: block;
  position: relative;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  top: -9px;
  right: -220px;
  border: 1px solid #fff;
  width: 100px;
  height: 32px;
  border-radius: 5px;
  text-align: center;
  padding: 7px 0;
  cursor: pointer;
  transition: .3s;
  background-color: #181B26;
}

#buat-tagihan:hover{
  transition: .3s;
  background-color: #fff;
  color: #000;
}