.card-pending{
  max-width: 362px;
  height: max-content;
  background-color: #0000004a;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 25px;
  padding: 20px;
  text-align: center;
}

.card-pending > .box{
  margin: 0 auto;
  position: relative;
  top: -50px;
  text-align: center;
}

.card-pending > .box > img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #fff;
  outline: 1px solid #fff;
  cursor: pointer;
}

.card-pending > .box > h2{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
}

.card-pending > .con-dataPem{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding-left: 10px;
  margin-top: -10px;
}

.card-pending > .con-dataPem > .value,
.card-pending > .con-dataPem > .titik,
.card-pending > .con-dataPem > .ket{
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 18px;
  text-align: start;
}

.card-pending > .con-dataPem > .value > p,
.card-pending > .con-dataPem > .titik > p,
.card-pending > .con-dataPem > .ket > p{
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}


.card-pending > .con-dataPem > .value > p:nth-child(1){
  color: #FBFF21;
}

.card-pending > a{
  display: block;
  width: 126px;
  height: 28px;
  background-color: #A9A9A9;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  padding: 6px 0;
  transition: .3s;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.card-pending > a:hover{
  transition: .3s;
  transform: scale(1.03);
  box-shadow: -2px 2px 4px #89898940;
}

#btn-verif{
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
}

#btn-verif a{
  width: 126px;
  height: 28px;
  border-radius: 5px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  transition: .3s;
  padding: 6px 0;
  margin-top: 35px;
  margin-bottom: 10px;
  cursor: pointer;
}

#btn-verif a:hover{
  transition: .3s;
  transform: scale(1.03);
}

#btn-verif a:nth-child(1){
  border: 1px solid #fff;
  background-color: transparent;
}
#btn-verif a:nth-child(2){
  background-color: #089A7C;
}